<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <!--<add key="WriteLocation" value="Database"/>-->
    <add key="writelocation" value="Console"/>
    <!--<add key="WriteLocation" value="Other"/>-->

    <add key="DbConnection" value="My Connection String Value"/>
  </appSettings>

</configuration>